@layer base {
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: var(--main-font);
        margin: 0;
    }

    :root {
        --main-color: #355FE5;
        --text-color: #OA112F;
        --main-font: 'Montserrat', sans-serif;
        --background-color: #f3f3f3;
        --light-text-color: #737373;

    }

    html {
        background-color: var(--background-color);
    }
    input, textarea, button, select {
        font: inherit;
    }
     
    .ax-button{
        all: unset; 
        outline: revert; 
        box-sizing: border-box;
    }

    a {
        all: unset;
    }
}