@layer component {
    .rounded-button {
        background-color: var(--main-color);
        color: white;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 1em;
    }

    .btn {
        cursor: pointer;
    }
}