@layer component {
    .company-logo {
        font-size: 1.875rem;
        font-family: var(--main-font); 
        color: var(--main-color);
    }
    .title{
        font-size: 1.125rem;
        font-weight: 600;
        letter-spacing: 0.3px;
    }

    .text-country-name{
        font-size: 0.875rem;
        color: var(--light-text-color);
    }
}
