@layer component {

    .company-logo {
        font-size: 1.875rem;
        font-family: var(--main-font); 
        color: var(--main-color);
    }

    .text-country-name{
        font-size: 0.875rem;
        color: var(--light-text-color);
    }

    .text-country-code {
        font-size: 0.875rem;
        font-weight: bold;
        font-family: var(--main-font);
        color: black;
    }

    .text-country-name {
        font-size: 0.875rem;
        font-weight: normal;
        font-family: var(--main-font);
        color: #737373;
    }
}
